# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Large datasets

*.xls
*.xlsx

# Model files
*.pkl
*.joblib

# Images/GIFs if not needed
*.gif

# OS
.DS_Store
Thumbs.db
